html{
  height: 100%;
}

body {
  height: 100%;
  background-color: #1abc9c;
}


.main-body {
    background-color: #ecf0f1;
    margin: 0px auto;
    min-height: 95%;  
}

.footer {
    background-color: #ecf0f1;
    margin: 0px auto;
    height: 5%; 
    text-align: center;
}

#loading-bar-spinner {
  width: 500px;
  height: 500px;
  top: 100px;
  left: 50%;
}

.itemLine {
    margin:10px;
}

.colorRed {
  color: red;
}