<h2>ITEMS</h2>
<form ng-submit="items.addItem()">
	<input ng-model="items.editItem.Name" type="text" size="50" placeholder="Agregar nuevo item"/>
	<button ng-disabled="!items.editItem.Name" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</form>
<div class="alert alert-danger" ng-show="items.errorMessage">{{items.errorMessage}}</div>
<div class="itemLine" ng-repeat="item in items.list">
	<form name="item{{item.ID}}" ng-submit="items.updateItem(item)">
		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<input ng-model="item.Name" type="text" size="50"/>
		<button type="submit" ng-disabled="!item{{item.ID}}.$dirty"class="btn btn-info btn-sm"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-danger btn-sm" ng-click="items.deleteItem(item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	</form>
</div>
